<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shineskoo.dao.UserMapper">

    <select id="selectUserIDAndToken" parameterType="java.util.HashMap" resultType="java.lang.String">
        select * from user where userid=#{userid} and token=#{token}
    </select>

</mapper>
